<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suits">
  <test thread-count="5" name="HomePage">
    <classes>
      <class name="tests.HomePageTestCase"/>
      <class name="tests.HotelPageTestClass"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
